.personal-contributions1 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-right: -15px;
}
.personal-contributions-heading {
  flex: 0 0 auto;
  font: var(--font-weight-600) var(--font-size-36) / 44px "IBM Plex Mono";
  padding: 0;
  margin: 0;
  color: var(--color-black);
  text-align: left;
  white-space: pre-wrap;
}
.personal-contributions-text {
  flex: 0 0 auto;
  font: var(--font-weight-400) var(--font-size-18) / 30px "IBM Plex Mono";
  padding: 0;
  margin: 12px 0 0;
  color: var(--color-black);
  text-align: left;
  white-space: pre-wrap;
}
