/* These are Kombai generated variables */
:root {
  --color-whitesmoke-96085c5: rgba(237, 240, 245, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-forestgreen-931ea64: rgba(14, 167, 48, 1);
  --color-991c5d52: transparent;
  --color-seagreen-d7e94beb: rgba(6, 131, 83, 1);
  --color-lightgreen-339aba53: rgba(152, 241, 138, 1);
  --color-black-9e48db18: rgba(26, 26, 26, 1);
  --color-royalblue-e87b52af: rgba(64, 59, 215, 0.2);
  --color-darkslategrey-caa2be5e: rgba(36, 36, 36, 1);
  --color-dimgrey-2a36df50: rgba(112, 112, 112, 1);
  --color-palevioletred-16cc46d3: rgba(231, 140, 157, 1);
  --color-grey: rgba(128, 128, 128, 1);
  --font-size-24: 24px;
  --font-size-14: 14px;
  --font-size-35: 35px;
  --font-size-40: 40px;
  --font-size-36: 36px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-16: 16px;
  --font-size-12: 12px;
  --font-size-48: 48px;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --border-radius-20: 20px;
  --border-radius-6: 6px;
  --border-radius-11_5: 11.5px;
  --border-radius-8: 8px;
  --border-radius-80: 80px;
  --border-radius-7: 7px;
  --border-radius-10: 10px;
  --border-radius-50: 50%;
}
