.section-title-container {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 18px;
}
.section-title {
  padding-right: 17px;
}
