.app-review-container {
  flex: 0 1 487px;
  border: 1px solid var(--color-grey);
  border-radius: var(--border-radius-8);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-right: 32px;
  padding-left: 32px;
}
